@import "glitch";
@import "mixins";

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    background-color: #000;
    &>figure {
        animation: imageAnimation 24s linear infinite 0s;
        backface-visibility: hidden;
        color: transparent;
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 0;
        margin: 0 !important;

        &:first-child {
            background: #000 url('../../build/assets/1.jpg') center center no-repeat;
        }

        &:nth-child(2) {
            animation-delay: 4s;
            background: #000 url('../../build/assets/2.jpg') center center no-repeat;
        }

        &:nth-child(3) {
            animation-delay: 8s;
            background: #000 url('../../build/assets/3.jpg') center center no-repeat;
        }

        &:nth-child(4) {
            animation-delay: 12s;
            background: #000 url('../../build/assets/4.jpg') center center no-repeat;
        }

        &:nth-child(5) {
            animation-delay: 16s;
            background: #000 url('../../build/assets/5.jpg') center center no-repeat;
        }

        &:nth-child(6) {
            animation-delay: 20s;
            background: #000 url('../../build/assets/6.jpg') center center no-repeat;
        }
        background-size: cover;
    }


    #container {
        height: 100vh;
        min-width: calc(180px + 20rem);
        width: 40vw;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: rgba(0, 0, 0, .6);
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-content(space-around);
    }
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 0;
        animation-timing-function: ease-out;
    }

    100%{
        opacity: 0;
    }
}

.map {
    height: 40vh;
    width: 100%;

    &>object {
        max-height: 40vh;
        max-width: 100%;
        position: absolute;
        top: calc(50% + 4rem);
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

@media (min-width: 2048px) {
    .map {
        &>object {
            top: calc(50% + 8vh);
        }
    }
}

.glitch {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 60px !important;

    &:hover {
        cursor: pointer;
    }
}

@include desktop {
    .logoContainer {
        background: transparent;
        width: 100%;

        & #transformLogo {
            height: 20vh;
            @include transform-style(preserve-3d);
            @include transform(perspective(60rem));

            & img {
                position: relative;
                left: 50%;
                @include transform(translate(-50%, 0));
                width: 100%;
                max-width: 15vw;
            }
        }
    }

    .glitch {
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
            @include textGlitch("glitch", 17, white, rgba(0, 0, 0, .6), red, blue, 420, 80);
        }
    }

    #glitchFb:hover,
    #glitchIg:hover {
        cursor: pointer;
        @include imgGlitch("glitchImg", 30, 80, 80, 0, 0)
    }
}

.socialLinks {
    position: relative;
    width: 30vw;
    min-width: calc(120px + 20rem);
    height: 60px;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-content(space-around);

    & a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &[target="_blank"] {
            width: 60px;
            height: 60px;
            display: inline-block;
            z-index: 9999;
        }
    }

    & #glitchFb {
        position: absolute;
        top: 0;
        right: 0;

        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    & #glitchIg {
        position: absolute;
        top: 0;
        left: 0;

        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@include phone {

    html,
    body {
        font-size: calc(8px + 1vmin);
    }

    #container {
        width: 100vw !important;
    }

    .logoContainer {
        background: transparent;
        width: 100vw;

        & #transformLogo {
            height: 20vh;
            @include transform-style(preserve-3d);
            @include transform(perspective(60rem));

            & img {
                position: relative;
                left: 50%;
                @include transform(translate(-50%, 0));
                width: 100%;
                max-width: 60vw;
            }
        }
    }

    .map {
        min-height: 200px;
        height: 50vh;
        width: 100vw;

        &>object {
            max-height: 40vh;
            max-width: 100%;
            position: absolute;
            top: 50% !important;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }

    .socialLinks {
        position: relative;
        width: 50vw;
        min-width: 12rem;
        height: 60px;
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        @include align-content(space-around);

        & #glitchFb {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
            }
        }

        & #glitchIg {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
            }
        }
    }

    .glitch {
        position: relative;
        top: -5rem;
        margin-bottom: 2rem;
    }
}

@include tablet {

    html,
    body {
        font-size: 16px;
    }

    .socialLinks {
        position: relative;
        width: 50vw;
        height: 60px;
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        @include align-content(space-around);

        & #glitchFb {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        & #glitchIg {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .glitch {
        position: relative;
        top: -5rem;
    }
}