@import "glitch";
@import "mixins";
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    background-color: black;
}

#map {
    height: 40vh;
    width: 100vw;
    &>object{
        max-height: 40vh;
        position: absolute;
        top: calc(50% + 1rem);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.glitch {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 80px;
    &:hover {
        cursor: pointer;
    }
}

@include desktop {

    .logoContainer {
        background: transparent;
        width: 100vw;
        & #transformLogo {
            height: 20vh;
            transform-style: preserve-3d;
            transform: perspective(60rem);
            transform: rotateX(0deg) rotateY(0deg); // overwritten by JS
            & img{
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                max-width: 20vw;
            }
        }
    }

    .glitch {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 80px;
        &:hover {
            cursor: pointer;
            @include textGlitch("glitch", 17, white, black, red, blue, 420, 80);
        }
    }
    #glitchFb:hover,
    #glitchIg:hover {
        cursor: pointer;
        @include imgGlitch("glitchImg", 30, 80, 80, 0, 0)
    }
}

.socialLinks {
    position: relative;
    width: 50vw;
    min-width: 250px;
    height: 80px;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-evenly);
    @include align-content(space-around);
    & a {
        color: white;
        text-decoration: none;
        & :hover {
            text-decoration: none;
        }
    }
    & #glitchFb {
        position: absolute;
        top: 0;
        right: 80px;
        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    & #glitchIg {
        position: absolute;
        top: 0;
        left: 0;
        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@include phone {
    html,
    body {
        font-size: calc(8px + 1vmin);
    }

    .logoContainer {
        background: transparent;
        width: 100vw;
        & #transformLogo {
            height: 20vh;
            transform-style: preserve-3d;
            transform: perspective(60rem);
            transform: rotateX(0deg) rotateY(0deg); // overwritten by JS
            & img{
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                max-width: 60vw;
            }
        }
    }

    #map {
        min-height: 200px;
        height: 50vh;
        width: 100vw;
    }

    .socialLinks {
        position: relative;
        width: 50vw;
        height: 80px;
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-evenly);
        @include align-content(space-around);
        & #glitchFb {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 80px;
            >img {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
            }
        }
        & #glitchIg {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            >img {
                position: absolute;
                top: 0;
                left: 0;
                height: 60px;
            }
        }
    }

    .glitch {
        position: relative;
        top: -5rem;
        margin-bottom: 2rem;
    }
}

@include tablet {
    html,
    body {
        font-size: 16px;
    }
    .socialLinks {
        position: relative;
        width: 50vw;
        height: 80px;
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-evenly);
        @include align-content(space-around);
        & #glitchFb {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 80px;
            >img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        & #glitchIg {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            >img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    
    .glitch {
        position: relative;
        top: -5rem;
    }
}

#container {
    height: 100vh;
    width: 100vw;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-content(space-evenly);
}